<div>
    <form name="modalform" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span >选择广告</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <p class="input-group">
                                <input type="text" class="form-control" placeholder="开始时间"
                                       uib-datepicker-popup readonly
                                       ng-model="vm.filter.startTime"
                                       is-open="vm.date.leftopen"
                                       datepicker-options="vm.date.dateOptions"
                                       ng-required="true"
                                        datetimepicker-neutral-timezone
                                       current-text="今天"
                                       clear-text="清除"
                                       close-text="关闭" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="vm.date.openleft()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <p class="input-group">
                                <input type="text" class="form-control" placeholder="结束时间"
                                       uib-datepicker-popup readonly ng-model="vm.filter.endTime"
                                       is-open="vm.date.rightopen"
                                       datepicker-options="vm.date.dateOptions"
                                       ng-required="true"
                                       current-text="今天"
                                        datetimepicker-neutral-timezone
                                       clear-text="清除"
                                       close-text="关闭" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="vm.date.openright()">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <i ng-click="vm.init()" class="fa fa-search"></i>
                            <input type="text" class="form-control input-circle" placeholder="按条件搜索" ng-model="vm.filter.name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- 角色列表 -->
                <table object-table
                       data="vm.table.data"
                       check-model="vm.table.checkModel"
                       display="vm.table.pageConfig.itemsPerPage"
                       headers="广告资源名称,广告类型,创建时间,广告概述,广告时长,状态"
                       fields="name,type,createTime,note,time,state">
                    <tbody>
                        <tr ng-click="$owner.showeditinfo(item);setSelected(item)">
                            <td>
                                <input type="checkbox" ng-model="::item.checked"
                                       ng-click="$event.stopPropagation(); checkOne(item)" />
                            </td>
                            <td show-td item="item" name="name"></td>
                            <td>
                                <span ng-show="item.type==1">图片</span>
                                <span ng-show="item.type==2">视频</span>
                            </td>
                            <td show-td item="item" name="createTime" format="yyyy-MM-dd HH:mm"></td>
                            <td show-td item="item" name="note"></td>
                            <td show-td item="item" name="time"></td>
                            <td>
                                <span ng-show="item.state==1">已发布</span>
                                <span ng-show="item.state==0">未发布</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--分页-->
                <nav class="paging">
                    <obj-pagination conf="vm.table.pageConfig"></obj-pagination>
                </nav>

            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">关闭</button>
            <button type="submit" button-busy="vm.saving" busy-text="保存"
                    class="btn btn-primary blue" ng-click="vm.save()">
                <span>保存</span>
            </button>
        </div>
    </form>
</div>
