<div ng-controller="views.advertising.putadsense as vm">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-hand-o-right"></i>

                <a href="#">广告分发</a>
            </li>
        </ul>
    </div>
    <div class="portlet light bordered">
        <div class="row">
            <div class="col-xs-8 text-left">
              
                <div class="col-md-6">
                    <div class="input-icon right">
                        <i ng-click="vm.init()" class="fa fa-search"></i>
                        <input type="text" class="form-control input-circle" placeholder="按条件搜索" ng-model="vm.filter.name">
                    </div>
                </div>
            </div>
            <div class="col-xs-4 text-right">
                <button class="btn btn-primary blue" ng-click="vm.allow()"><i class="fa fa-laptop"></i> 分配</button>
                <button class="btn btn-primary blue" ng-click="vm.back()"><i class="fa fa-reply-all"></i> 返回</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="portlet light">
                    <div class="portlet-title myPortlet-title">
                        <span class="myPortlet-title-span">
                            组织机构
                        </span>
                    </div>
                    <div class="portlet-body scrollList portlet-scroll" ng-scrollbar>
                        <div id="OrganizationUnitEditTree"></div>
                        <div ng-if="!vm.organizationTree.unitCount" class="text-muted">
                            暂无组织机构
                        </div>
                     
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- 角色列表 -->
                <table object-table
                       data="vm.table.data"
                       check-model="vm.table.checkModel"
                       display="vm.table.pageConfig.itemsPerPage"
                       headers="设备信息,设备编号,点位"
                       fields="name,machineCode,spotName">
                    <tbody>
                        <tr ng-click="$owner.showeditinfo(item);setSelected(item)">
                            <td>
                                <input type="checkbox" ng-model="::item.checked"
                                       ng-click="$event.stopPropagation(); checkOne(item)" />
                            </td>
                            <td show-td item="item" name="name"></td>
                            <td show-td item="item" name="machineCode"></td>
                            <td show-td item="item" name="spotName"></td>
                        </tr>
                    </tbody>
                </table>
                <!--分页-->
                <nav class="paging">
                    <obj-pagination conf="vm.table.pageConfig"></obj-pagination>
                </nav>
            </div>


        

        </div>
    </div>
</div>
